<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Typing Speed Calulator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
          crossorigin="anonymous">
        
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <form method="post text-center">
        <h3 class="text-center title">Calculating the typing speed</h3>
        <hr>
        <div class="box">
            <h6>You have one minute to write as much as words you can from the text below</h6>
        </div>
        <br>
        
        <h5 id="timer" class="text-center timer">59</h5> 
    
        <div class="row">
            <div class="col">

                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingTextarea2Disabled" style="height: 200px" disabled>{{ text }}</textarea>
                    <label for="floatingTextarea2Disabled">Text to Write:</label>
                </div>
                
                <div class="form-floating">
                    <textarea  id="area-to-write" class="form-control" placeholder="Write here" id="floatingTextarea2" style="height: 200px" disabled></textarea>
                    <label for="floatingTextarea2">Write the text here</label>
                </div>
                
                <br>
                <div class="container-fluid">
                    
                    <div class="row">
                        <button id="start-button" class="btn btn-outline-light col" type="button">Start</button> 
                        <button id="finish-button" class="btn btn-outline-light col" type="submit">Finish</button>   
                        <button class="btn btn-outline-light col" type="submit">Reset</button>  
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
       
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
            crossorigin="anonymous">
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" 
            crossorigin="anonymous">
    </script>

    <script src="{{ url_for('static', filename='javascript/timer.js') }}"></script>
</body>
</html>