{% extends 'base.html' %}
{% block content %}
    <form method="post text-center">
        <h3 class="text-center title">Calculating the typing speed</h3>
        <hr>
        <div class="box">
            <h6>You have one minute to write as much as words you can from the text below</h6>
        </div>
        <br>
        
        <h5 id="timer" class="text-center timer">59</h5> 
    
        <div class="row">
            <div class="col">

                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingTextarea2Disabled" style="height: 200px" disabled>{{ text }}</textarea>
                    <label for="floatingTextarea2Disabled">Text to Write:</label>
                </div>
                
                <div class="form-floating">
                    <textarea  id="area-to-write" class="form-control" placeholder="Write here" id="floatingTextarea2" style="height: 200px" disabled></textarea>
                    <label for="floatingTextarea2">Write the text here</label>
                </div>
                
                <br>
                <div class="container-fluid">
                    
                    <div class="row">
                        <button id="start-button" class="btn btn-outline-light col" type="button">Start</button> 
                        <button id="finish-button" class="btn btn-outline-light col" type="submit">Finish</button>   
                        <button class="btn btn-outline-light col" type="submit">Reset</button>  
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
