{% extends 'base.html' %}
{% block content %}
    <form method="post" class="text-center">
        
        <h3 class="text-center title">Calculating the typing speed</h3>
        <hr>
        <div class="box">
            <h6>You have one minute to write as much as words you can from the text below</h6>
        </div>
        <br>
        
        <p id="timer" class="text-center">59</p> 
        
        <input id="counter" type="hidden" name="counter" >
    
        <div class="row">
            
            <div class="col">
                <div class="form-floating mb-3">
                    <textarea name="showed-text" class="form-control" id="text-to-write" style="height: 200px" disabled>{{ text }}</textarea>
                    <label for="text-to-write">Text to Write:</label>
                </div>
                
                <div class="form-floating">
                    <textarea  name="written-text" id="area-to-write" class="form-control" style="height: 200px" disabled></textarea>
                    <label for="floatingTextarea2">Write the text here</label>
                </div>
                
                <br>
                <div class="container-fluid">
                    
                    <div class="row">
                        <button id="start-button" class="btn btn-outline-light col" type="button">Start</button> 
                        <button id="finish-button" class="btn btn-outline-light col" type="submit">Finish</button>   
                        <a id="reset-button" class="btn btn-outline-light col">Reset</a>  
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
