{% extends 'base.html' %}
{% block content %}
    <div id="results" class="container-fluid">
        <h4 class="text-center">Results</h4>
        <hr>
        <table class="table">
            <tr>
                <td><b>Quantity of written words:</b></td>
                <td>30</td>
            </tr>
            <tr>
                <td><b>Quantity of time elapsed:</b></td>
                <td>10</td>
            </tr>
            <tr>
                <td><b>Quantity of correct words:</b></td>
                <td>2</td>
            </tr>
            <tr>
                <td><b>Typing Speed:</b></td>
                <td>0</td>
            </tr>
        </table>
    </div>
{% endblock %}