{% extends 'base.html' %}
{% block content %}
    <div id="results" class="container-fluid">
        <h4 class="text-center">Results</h4>
        <hr>
        <table class="table">
            <tr>
                <td><b>Quantity of accurate words:</b></td>
                <td>{{ info_to_show.get('quantity_of_accurate_words') }}</td>
            </tr>
            <tr>
                <td><b>Elapsed time:</b></td>
                <td>{{ info_to_show.get('elapsed_time') }}</td>
            </tr>
            <tr>
                <td><b>Typing Speed:</b></td>
                <td>{{ info_to_show.get('typing_speed') }} words per minute</td>
            </tr>
        </table>

        <div class="text-center">
            <a href="{{ url_for('home') }}" class="btn btn-outline-secondary">Return to Home Page</a>
        </div>
    </div>
{% endblock %}